@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}


.header {
  /* background-image: url("../Assets/Agustinus.png"); */
  background-color: #F6891F;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-section {
  background-color: #fefaf2;
}

.main-jumbotron {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.big-name {
  text-align: center;
  align-self: center;
  font-size: 50px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  /* border: 1px solid green; */
}

.image-container {
  /* border: 1px solid red; */
  width: 400px;
  display: flex;
  align-content: flex-end;
}

.man-vector {
  /* border: 1px solid black; */
  width: 100%;
  align-self: flex-end;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 11em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.about-me{
    padding: 20px;
    height: 32vw;
    /* background-color: #F6C73E;  */
}

.wave{
    /* border: 1px solid black; */
    width: 100%;
    height: 8vw;
}

.wave img{
    width: 100%;
    height: 7vw;
}

.wave-2{
    display: flex;
    height: auto;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: -80px;
}

.wave-2 img{
    align-self: flex-end;
    /* border: 1px solid black; */
    width: 100%;
}

.wave-3{
    width: 100%;
    height: 15vw;
}

.wave-3 img{
    width: 100%;
}

#about-name{
    text-align: center;
    color: #F6891F;
    font-size: 50px;
    font-weight: bold;
}

.self-pic{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto 0 auto;
    margin-bottom: 35px;
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
}

.self-pic img{
    /* border: 2px solid black; */
    width: 250px;
    align-self: center;
    height: auto;
    border-radius: 50%;
}

.about-section{
    text-align: center;
    color: #F6891F;
    font-size: 20px;
}

.projects-me{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto; /*nanti diganti auto */
    /* border: 5px solid green; */
    background-color: #F6891F;
    /* margin: -10px; */
}

.big-name-2{
    color: white;
    font-weight: bold;
    margin-bottom: 35px;
    font-size: 50px;
}

.cards-box{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    padding: 15px;
    margin-bottom: 35px;
}

.first-card{
    width: 25%;
    height: 20vw;
    border-radius: 25px;
    /* border: 1px solid red; */
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-project-1{
    text-align: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    align-self: center;
}

.img-project-1 img{
    margin-top: 20px;
    width: 320px;
    height: 70%;
    border-radius: 25px 25px 0 0;
}

.judul-proj{
    color: white;
    font-weight: bold;
    margin: -5px auto 0 auto;
    background-color: #F6891F;
    padding-top: 15px;
    height: 50px;
    /* border: 1px solid green; */
    border-radius: 0 0 25px 25px;
    width: 320px;
}

.second-card{
    width: 25%;
    height: 20vw;
    border-radius: 25px;
    /* border: 1px solid red; */
    background-color: red;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer{
    color: #F6891F;
    font-size: 25px;
    margin: -40px 10px 0 10px;
    font-weight: bold;
    display: flex;
    height: 10vw;
    text-align: center;

}

.social-media{
    /* border: 1px solid black; */
    width: 100%;
}

.social-media p{
    margin-bottom: 20px;
}

.socmed{
    display: flex;
    /* border: 1px solid black; */
    justify-content: center;
    height: auto;
}

.socmed a{
    text-decoration: none;
    color: #F6891F;
    font-size: 75px;
}

.icon-linkedin a, .icon-github a, .icon-instagram a{
    transition: ease-out 0.5s;
    margin: 10px 20px 10px 20px;    
}

.icon-linkedin a:hover{
    color: blue;
}

.icon-github a:hover{
    color: black;
}

.icon-instagram a:hover{
    color: mediumvioletred;
}

#copyright{
    margin-top: 20px;
    font-size: 20px;
}

.loop{
    font-size: 35px;
    border-radius: 1px solid black;
}

.loop p{
    /* border: 1px solid red; */
    font-weight: bold;
    text-align: end;
}

#none-show{
    font-size: 60px;
    font-weight: bold;
    /* border:1px solid black; */
}

#nav-bar{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* border: 1px solid black; */
    height: 10vw;
    margin-top: 100px;
    font-size: 30px;
}

#nav-bar a{
    text-decoration: none;
    color: white;
}

#nav-bar a:hover{
    text-decoration: underline;
    color: black;
    transition: ease-out 0.5s; 
}
